
body {
  background-image: url("https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.title {
    text-align: center;
    font-size: 4em;
    margin-bottom: 60px;
  }


