/* Forecast.css */

.forecast-item {
  display: flex; /* Make the forecast item a flex container */
  justify-content: space-between; /* Distribute the space between the items */
  align-items: center; /* Align the items vertically */
  padding: 10px; /* Add some padding inside the items */
  border-bottom: 1px solid #f0f0f0; /* Add a bottom border */
  background-color: #f9f9f9; /* Add a background color */
}

.forecast-item:nth-child(even) {
  background-color: #e9e9e9; /* Add a different background color for even items */
}

.forecast-item:last-child {
  border-bottom: none; /* Remove the bottom border from the last item */
}

.forecast-item h3 {
  margin: 0;
  font-size: 1.2em;
}

.forecast-item p {
  margin: 0;
  font-size: 1em;
}

.forecast-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
}

.forecast-container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}
