/* SearchBar.css */

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.search-bar input {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 15px; /* Increase border radius for a more rounded appearance */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease-in-out;
  background-color: #f0f0f0; /* Light background color */
}

.search-bar input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slightly darker shadow on focus */
}

.search-bar button {
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007aff; /* Blue color similar to Apple's default blue */
  border: none;
  color: white;
  border-radius: 15px; /* Increase border radius for a more rounded appearance */
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.search-bar button:hover {
  background-color: #0051a1; /* Darker blue on hover */
  transform: translateY(-2px);
}

.search-bar button:active {
  transform: translateY(0);
}
